	*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
}

button {
  cursor: pointer;
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 3;
    width: calc(100vw - 40px); max-width: 400px;
  }

  .transparent-btn {
    background-color: transparent;
    border: none;
  }

  .select,
  .input {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  input[type="time"] {
    font-size: 20px;
  }

  .user-gen-info {
    padding-top: 10px; padding-bottom: 10px; padding-left: 30px; font-size: 20px
  }

  .user-titles {
    padding-left: 10px; padding-top: 20px; padding-bottom: 20px
  }

  .accept-complete-btn {
    background-color: #4A6FA5;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
